<% provide(:title, 'Home') %>

<%= render 'shared/modal' %>


<% if user_signed_in? %>
  <br /> <br />
  <h2> <%= current_user.first_name + ' ' + current_user.last_name %> </h2>
  <br />

  <%= link_to 'Add Submission', new_submission_path, :remote => true,
class: "pull-left btn" %>

 <br />
 <br />
 <br />

  <% @submissions = Submission.all(author_id: current_user.id).entries %>
  <% @other_submissions = Submission.all(reviewer_id: current_user.id).entries %>

  <h3> Submissions you Authored </h3>
  <table class="table table-hover">
    <tr>
      <th> Submission </th>
      <th> Author </th>
      <th> Reviewer </th>
      <th> Last Activity </th>
    </tr>
    <% @submissions.each do |s|%>
      <tr onclick="location.href='<%= submission_path(s) %>'">
        <td> <%= s.name %> </td>
        <td> <%= User.find(s.author_id).first_name + ' ' %>
             <%= User.find(s.author_id).last_name %> </td>
        <td> <%= User.find(s.reviewer_id).first_name + ' ' %>
             <%= User.find(s.reviewer_id).last_name %> </td>
        <td> <%= s.updated_at %> </td>
      </tr>
    <% end %>
  </table>
  <br />
  <br />
  <br />

  <h3> Submissions you are Reviewing </h3>
  <table class="table table-hover">
    <tr>
      <th> Submission </th>
      <th> Author </th>
      <th> Reviewer </th>
      <th> Last Activity </th>
    </tr>
    <% @other_submissions.each do |s|%>
      <tr onclick="location.href='<%= submission_path(s) %>'">
        <td> <%= s.name %> </td>
        <td> <%= User.find(s.author_id).first_name + ' ' %>
             <%= User.find(s.author_id).last_name %> </td>
        <td> <%= User.find(s.reviewer_id).first_name + ' ' %>
             <%= User.find(s.reviewer_id).last_name %> </td>
        <td> <%= s.updated_at %> </td>
      </tr>
    <% end %>
  </table>


<% end %>
