<% provide(:title, 'Home') %>

<% if user_signed_in? %>
  <br /> <br />
  <h2> <%= current_user.first_name + ' ' + current_user.last_name %> </h2>
  <br />
  <% @submissions = Submission.all(author_id: current_user.id).entries %>

  <table class="table table-hover">
    <tr>
      <th> Submission </th>
      <th> Author </th>
      <th> Reviewer </th>
      <th> Last Activity </th>
    </tr>
    <% @submissions.each do |s|%>
      <tr onclick="location.href='<%= submission_path(s) %>'">
        <td> <%= s.name %> </td>
        <td> <%= User.find(s.author_id).first_name + ' ' %>
             <%= User.find(s.author_id).last_name %> </td>
        <td> <%= User.find(s.reviewer_id).first_name + ' ' %>
             <%= User.find(s.reviewer_id).last_name %> </td>
        <td> <%= s.updated_at %> </td>
      </tr>
    <% end %>
  </table>
  
<% end %>
