<% provide(:title, @sub.name) %>

<%= render 'shared/modal' %>


<h2>PDF</h2>

<div id="page-navs">
	<button id="back-button">&lt;</button>
	<input id="page-num" type="text" value="1"/>
	<button id="fwd-button">&gt;</button>
</div>
<div id="page-wrapper" class="nano">
	<div class="content">
	<div id="page-container"></div>
 	</div>
</div>

<script type="text/javascript">
var ann = JSON.parse(
'[{"type":"comment","color":0,"pg":1,"x":0.20356612184249628,"y":0.2549476135040745,"content":"Play the beginning of the piece!"},{"type":"comment","color":1,"pg":1,"x":0.7102526002971769,"y":0.2724097788125728,"content":"I'm having some difficulty playing this rest."},{"type":"comment","color":1,"pg":1,"x":0.8172362555720654,"y":0.49941792782305006,"content":"This is a note."},{"type":"comment","color":0,"pg":1,"x":0.2704309063893016,"y":0.8672875436554133,"content":"Decrescendo!"},{"type":"comment","color":0,"pg":1,"x":0.8023774145616642,"y":0.8707799767171129,"content":"Flip the page."},{"type":"comment","color":0,"pg":2,"x":0.2897473997028232,"y":0.02677532013969732,"content":"Play these triplets."},{"type":"comment","color":0,"pg":2,"x":0.6909361069836553,"y":0.4214202561117579,"content":"Use three hands."},{"type":"comment","color":1,"pg":3,"x":0.19465081723625557,"y":0.033760186263096625,"content":"How do you play grace notes?"},{"type":"comment","color":1,"pg":3,"x":0.13967310549777118,"y":0.4062863795110594,"content":"This is boring :("},{"type":"comment","color":0,"pg":3,"x":0.19910846953937592,"y":0.4074505238649593,"content":"Deal with it."},{"type":"comment","color":0,"pg":4,"x":0.5512630014858841,"y":0.8137369033760187,"content":"Kill yourself."}]'
);
initPDF("../test.pdf", 0, ann);


</script>


<br />

<%= form_for @sub, :remote => true, :url => url_for(:controller => 'submissions', :action => 'update_annotations') do |f| %>
<%= f.hidden_field :submission_id, :value => @sub.id %>
<%= f.hidden_field :annotations %>
<%= f.submit "Update Annotations", id: "submit_annotations" %>
<% end %>

<script>

$("#submit_annotations").click(function() {
	$("#submission_annotations").val(JSON.stringify(annotations));
});

</script>
<br />


<%= link_to "Record Audio", new_submission_recording_path(@sub), class: 'btn' %>

<% if @sub.audio %>
<a href=<%= ("http://localhost:3000/" + @sub.id.to_s) + ".wav" %> />Audio</a>
<% end %>
<br />


<%= link_to 'Update Submission', new_submission_stack_item_path(@sub), :remote => true, class: "pull-left btn" %>

<br />
<br />

<table class="table table-striped">
	<tr>
		<th> Author </th>
		<th> Comment </th>
		<th> Date </th>
	</tr>

	<% @sub.stack_items.each do |item| %>
	<tr>
		<td> <%= User.find(item.author_id).first_name + ' ' + User.find(item.author_id).last_name %> </td>
		<td> <%= item.comment %> </td>
		<td> <%= item.created_at %> </td>
	</tr>
	<% end %>
</table>




