<% provide(:title, @sub.name) %>

<%= render 'shared/modal' %>


<h2>PDF</h2>

<div id="page-navs">
	<button id="back-button">&lt;</button>
	<input id="page-num" type="text" value="1"/>
	<button id="fwd-button">&gt;</button>
</div>
<div id="page-wrapper" class="nano">
	<div class="content">
	<div id="page-container"></div>
 	</div>
</div>

<script type="text/javascript">
initPDF("../test.pdf", 0, [
	{type: "highlight",
	pg: 1,
	x1: 0.4, x2: 0.6,
	y1: 0.4, y2: 0.6
},

{type: "highlight",
pg: 2,
x1: 0.3, x2: 0.7,
y1: 0.3, y2: 0.7
},

{type: "comment",
pg: 1,
x: 0.45, y: 0.23,
content: "Stop playing this like a little bitch."
}
]);


</script>


<br />

<%= form_for @sub, :remote => true, :url => url_for(:controller => 'submissions', :action => 'update_annotations') do |f| %>
<%= f.hidden_field :submission_id, :value => @sub.id %>
<%= f.hidden_field :annotations %>
<%= f.submit "Update Annotations", id: "submit_annotations" %>
<% end %>

<script>

$("#submit_annotations").click(function() {
	$("#submission_annotations").val(JSON.stringify(annotations));
});

</script>
<br />


<%= link_to "Record Audio", new_submission_recording_path(@sub), class: 'btn' %>

<% if @sub.audio %>
<a href=<%= ("http://localhost:3000/" + @sub.id.to_s) + ".wav" %> />Audio</a>
<% end %>
<br />


<%= link_to 'Update Submission', new_submission_stack_item_path(@sub), :remote => true, class: "pull-left btn" %>

<br />
<br />

<table class="table table-striped">
	<tr>
		<th> Author </th>
		<th> Comment </th>
		<th> Date </th>
	</tr>

	<% @sub.stack_items.each do |item| %>
	<tr>
		<td> <%= User.find(item.author_id).first_name + ' ' + User.find(item.author_id).last_name %> </td>
		<td> <%= item.comment %> </td>
		<td> <%= item.created_at %> </td>
	</tr>
	<% end %>
</table>




