<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
<a href="/">
<div id="header-logo" style="background: url('/logo_header.png'); height: 55px; width: 400px; background-repeat: no-repeat; margin-top: 2px; margin-bottom: -44px; margin-left: -10px"></div>
</a>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <% if !user_signed_in? %>
          <li><%= link_to "Register", new_user_registration_path %></li>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <% else %>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: "delete" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
